.eq-wrapper {
  width: 128px;
}

.equalizer canvas {
  width: 84%;
  height: 40px;
  display: block;
}

@media (min-width: 300px) and (max-width: 357px) {
  .equalizer canvas {
    width: 23%;
    height: 29px;
    position: absolute;
    top: 35px;
    left: 20px;
  }
}

@media (min-width: 359px) and (max-width: 481px) {
  .eq-wrapper {
    width: 120px;
    position: absolute;
    left: -20px;
    top: 25px;
  }
  .equalizer canvas {
    margin-left: 45px;
  }
}
