body {
  font-family: "Amiga Topaz Unicode Rus";
  background: #000000;
  color: rgb(0, 255, 0);
  overflow-x: hidden !important;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.4),
    0 0 5px rgba(255, 255, 255, 0.3), 0 0 10px rgba(255, 255, 255, 0.2),
    0 0 15px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 0.05),
    0 0 30px rgba(255, 255, 255, 0.03), 0 0 40px rgba(255, 255, 255, 0.02),
    0 0 50px rgba(255, 255, 255, 0.01);
}

/* CRT display effect */

body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
  background-image: var(--backdrop-url);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.38;
  image-rendering: pixelated;
  pointer-events: none;
}

/* Custom scrollbar */

html {
  scrollbar-width: thin;
  scrollbar-color: rgb(2, 255, 44) #1a8445;
  scroll-behavior: smooth !important;
}

/* Custom fonts */

@font-face {
  font-family: "Amiga Topaz Unicode Rus";
  src: url("../public/Fonts/AmigaTopazUnicodeRus.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "amiga_topaz_unicode_rusRg";
  src: url("../public/Fonts/AmigaTopazUnicodeRus.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* @font-face {
  font-family: "amiga_topaz_unicode_rusRg";
  src: url("/Fonts/AmigaTopazUnicodeRus.woff") format("woff");
  font-weight: normal;
  font-style: normal;
} */

/* Custom cursors */
*,
body,
html,
::-webkit-scrollbar,
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  cursor: url("../public/Pix/gui/cursor.png"), auto;
}

a,
a:hover,
button,
button:hover,
.left li,
.left li:hover,
.tracks li,
.tracks li:hover,
.power-switch div,
.audio-bar,
.audio-bar:hover,
.seek-bar,
.seek-bar:hover,
.power-switch div,
.power-switch div:hover,
.flyout,
.flyout:hover {
  cursor: url("../public/Pix/gui/link.png"), auto;
}

html {
  scroll-behavior: smooth !important;
}

.red {
  color: #ff0000;
  text-decoration-thickness: 3px;
}

.green {
  color: #03ee03;
  text-decoration-thickness: 3px;
}

.blue {
  color: #5da3ff;
  text-shadow: none;
  text-decoration-thickness: 3px;
}

.startup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000;
  z-index: 10002;
}

.startup-image {
  max-width: 60%;
  max-height: 60%;
  animation: fadeInOut 3.8s ease-in-out;
  outline: #f10ce0 4px ridge;
  box-shadow: 8px -5px 222px 73px rgba(241, 12, 224, 0.75);
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.power-led {
  display: flex;
  flex-direction: row-reverse;
  gap: 8px;
  color: rgba(255, 0, 0, 0.88);
}

.led {
  width: 10px;
  height: 10px;
  background: #00ff00;
  border-radius: 50%;
  animation: blink 2s infinite ease-in-out;
  box-shadow: 0 0 10px #00ff00;
  transform: translateY(6px);
}

@keyframes blink {
  0%,
  100% {
    opacity: 0.5;
    box-shadow: 0 0 5px #00ff00;
  }
  50% {
    opacity: 1;
    box-shadow: 0 0 15px #00ff00;
  }
}

.seekbar-wrapper {
  margin-right: 19px;
}

.seekbar-wrapper,
.controls-left {
  transition: opacity 0.5s ease, filter 0.5s ease;
}

/* Hidden control buttons on startup page */
.hidden {
  opacity: 0;
  filter: blur(5px);
  pointer-events: none;
}

.visible {
  opacity: 1;
  filter: blur(0);
}

.controls-left button.on {
  background: #008000;
}

.controls-left button.off {
  background: #ff0000;
}

.controls-left button.playing {
  background: #ff0000;
  color: #ffffff;
}

.controls-left button.paused {
  background: #008000;
  color: black;
}

/* Fly-out panel */
.flyout-trigger {
  position: fixed;
  right: 20px;
  top: 0;
  bottom: 0;
  width: 88px;
  z-index: 10001;
  /* cursor: pointer; */
}

.flyout {
  position: fixed;
  right: 40px;
  top: 0;
  bottom: 0;
  width: 384px;
  background: rgba(22, 89, 79, 0.68);
  transform: translate(104%, 42%);
  transition: transform 0.3s ease;
  z-index: 90000;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 20px;
  height: 44vh;
  padding: 20px;
  text-align: center;
  line-height: 1.4;
  border: 4px #33ff00 ridge;
  flex-direction: column;
}

.flyout::before {
  content: "";
  position: absolute;
  transform: translateX(-113%) translateY(22vh) rotate(180deg);
  border-left: 20px solid #33ff00;
  border-bottom: 20px solid transparent;
  border-top: 20px solid transparent;
  height: 0;
  width: 0;
}

.flyout-trigger:hover + .flyout,
.flyout:hover {
  transform: translate(0, 42%);
  right: 0;
}

.mini {
  font-size: 20px;
  color: #3480ea;
  text-align: center;
  margin-bottom: 8px;
}
.about {
  font-size: 20px;
  color: #c70808;
  margin-bottom: -18px;
}

.about-text {
  display: inline-block;
  transform: translateY(7px);
}

.flyout-links,
.flyout-help {
  font-size: 16px;
  margin-top: 25px;
}

.flyout-help {
  display: flex;
  flex-direction: column;
  font-size: 17px;
  margin: 0;
  padding: 0;
  text-align: left;
}

.fly-chip,
.fly-mpt,
.fly-trk {
  text-decoration-thickness: 3px;
  transition: all 0.3s ease-in-out;
}

.fly-chip:hover,
.fly-mpt:hover,
.fly-trk:hover {
  color: #ff7700;
  transition: all 0.3s ease-in-out;
}

.fly-chip {
  color: #10c6ae;
  margin-left: 12px;
  margin-right: 12px;
}

.fly-mpt {
  color: #8563ff;

  margin-right: 12px;
}
.fly-trk {
  margin-left: 12px;
  margin-right: 12px;
  color: #00fe00;
}

.app.flex {
  display: flex;
  margin-top: 50px;
  @media (width <= 460px) {
    overflow-x: hidden !important;
  }
}

.sticky-controls {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background: rgba(20, 20, 20, 0.85);
  padding: 8px 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
  width: 1280px;
  margin: 0 auto;
}

.player-logo {
  color: #00ff51;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 54px;
  display: flex;
  @media (width <=460px) {
    margin-left: 0;
    width: 100px;
    flex-direction: column;
  }
}

.logo-text {
  text-decoration: none;
  color: #adff2f;
  @media (width <=460px) {
    font-size: 20px;
  }
}

.logo-pix {
  image-rendering: pixelated;
}

.title-container {
  text-align: center;
  @media (width <= 460px) {
    text-align: unset;
  }
}

.logo-title {
  font-size: 40px;
  width: 404%;
  z-index: 180000;
  position: relative;
  text-shadow: -2px 26px 86px 17px rgba(255, 0, 0, 0.75);

  @media (width <=460px) {
    width: 100%;
  }
}

.title-span {
  transform: translateY(-15px);
  display: inline-block;
  @media (width <=460px) {
    display: none;
  }
}

.player-logo h1 {
  margin-left: 10px;
  width: 238px;
  @media (width <=460px) {
    width: 100px;
  }
}
.controls-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 150px;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 0.32) 0%,
    rgba(0, 212, 255, 0.44) 85%,
    rgba(0, 212, 255, 0) 100%
  );
  box-shadow: -2px 26px 86px 17px rgba(0, 0, 0, 0.75) inset;
  margin-top: -5px;
  margin-bottom: -9px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}

.controls-row:after,
.controls-row:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: linear-gradient(
    265deg,
    rgba(255, 0, 47, 1) 0%,
    rgba(20, 75, 204, 1) 53%,
    rgba(255, 255, 255, 0) 100%
  );
}

.controls-row:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 12.5%;
  height: 4px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(47, 255, 0, 1) 100%
  );
  transform: translateX(-80px) translateY(78px) rotate(90deg);
}

.controls-row:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 12.5%;
  height: 4px;
  background: linear-gradient(
    90deg,
    rgba(255, 140, 0, 1) 0%,
    rgba(255, 0, 47, 1) 100%
  );
  transform: translateX(751%) translateY(78px) rotate(90deg);
}

.controls-left {
  display: flex;
  gap: 4px;
  margin-right: 40px;
}

.controls-left button {
  margin-right: 8px;
  padding: 18px 18px;
  font-family: "Amiga Topaz Unicode Rus";
  font-size: 20px;
  outline: #00ff2a 4px ridge;
  width: 95px;
}

.progress-and-eq {
  display: flex;
  align-items: center;
  gap: 12px;
}
.seek-bar-wrap {
  width: 224px;
}

.volume-wrapper,
.position-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -10px;
}

.text-4-slider {
  margin-right: 8px;
}

.seek-bar {
  width: 100%;
  height: 10px;
  -webkit-appearance: none;
  appearance: none;
  background: linear-gradient(
    90deg,
    red,
    orange,
    yellow,
    lime,
    cyan,
    blue,
    magenta
  );
  border-radius: 10px;
  outline: none;
}

.audio-bar {
  width: 100%;
  height: 10px;
  -webkit-appearance: none;
  appearance: none;
  background: linear-gradient(
    90deg,
    magenta,
    blue,
    cyan,
    lime,
    yellow,
    orange,
    red
  );
  border-radius: 10px;
  outline: none;
}

.audio-bar[type="range"]::-moz-range-thumb,
.seek-bar[type="range"]::-moz-range-thumb {
  background: linear-gradient(
    179deg,
    rgba(41, 224, 227, 1) 34%,
    rgba(245, 167, 0, 1) 100%
  );
  height: 24px;
  width: 8px;
  border-radius: 2px;
  outline: 1px #000000 solid;
  box-shadow: 0 0 8px rgba(136, 255, 215, 0.8);
}

.eq-wrapper {
  width: 128px;
}
.equalizer canvas {
  width: 84%;
  height: 40px;
  display: block;
}

.left {
  width: 200px;
  background: #052247b5;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadeInOut 3.8s ease-in-out;
  outline: #ffffff 4px ridge;
  box-shadow: -3px 48px 200px 73px rgba(255, 0, 0, 0.75);
  position: fixed;
  left: 0;
  bottom: 27%;
  z-index: 10000;

  @media (width <= 1280px) {
    bottom: 23%;
    font-size: 18px;
  }

  @media (width <= 460px) {
    position: relative;
    width: 100% !important;
    background: #052247b5;
    /* outline: 400px red groove; */
    transform: translateX(500px);
    justify-content: center;
    left: 0;
    bottom: 0;
    padding-bottom: 250px;
  }
}

.left h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.left ul {
  list-style: none;
  padding: 0;
}
.left li {
  padding: 16px;
  margin-bottom: 5px;
  background: #0a2f4f;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: #ffffff 4px solid;
  margin-bottom: 10px;
  transition: all 0.4s ease-in-out;
}

.left li:hover {
  background: #b50000;
  transition: all 0.4s ease-in-out;
}

.left li.active {
  background: #b50000;
  transition: all 0.4s ease-in-out;
}

.left {
  font-size: 20px;
  transition: all 0.4s ease-in-out;
}

.left-right-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 124px;
  flex-basis: 1200px;
  margin-left: 55px;

  @media screen and (max-width: 2000px) {
    flex-basis: 1900px;
  }
  @media screen and (max-width: 2560px) {
    flex-basis: 2550px;
  }
  @media (width <= 1280px) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 124px;
    width: 300px;
  }
}

.right {
  flex: 1;
  padding: 20px;
  padding-left: 200px;
  padding-right: 150px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  font-size: 20px;
  flex-direction: column;
  animation: fadeInOut 3.8s ease-in-out;
  transition: all 0.4s ease-in-out;

  @media (width <= 460px) {
  }
}

.right p {
  display: flex;
  justify-content: center;

  @media (width <= 1280px) {
    font-size: 17px;
  }
}

.introDescription1,
.introDescription2,
.introDescription3,
.introDescription5,
.introDescription7,
.introDescription1-link {
  width: 800px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-size: 24px;
  text-align: center;
  line-height: 1.4;
  @media (width <= 1280px) {
    width: 300px;
  }
}

.introDescription2 {
  color: #ff0000;
  width: 400px;
  margin-top: 20px;
  text-shadow: none;
  font-size: 20px;
  outline: red ridge 4px;
  padding: 8px;
  background-color: #fffefe;
  animation: moveUpDown 1s ease-in-out infinite;
}

@keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(-1px);
  }
  25% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(1px);
  }
  75% {
    transform: translateY(0);
  }
}

.introDescription3 {
  margin-top: 20px;
  word-break: break-all;
}

.introDescription4 a,
.introDescription7 a {
  color: #459afa;
  font-size: 25px;
  text-decoration: underline;
  text-shadow: none;
  text-decoration-thickness: 4px;
  transition: all 0.4s ease-in-out;
  margin-top: -18px;
  @media (width <= 1280px) {
    font-size: 20px;
  }
}

.introDescription4 a:hover,
.introDescription7 a:hover {
  color: #ffffff;
  transition: all 0.4s ease-in-out;
}

.introDescription1-link {
  color: #ff7700;
  font-size: 25px;
  text-decoration: underline;
  text-shadow: none;
  text-decoration-thickness: 4px;
  transition: all 0.4s ease-in-out;
  @media (width <= 1280px) {
    font-size: 20px;
  }
}
.introDescription1-link:hover {
  color: #ffffff;
  transition: all 0.4s ease-in-out;
}

.introDescription5 {
  width: 800px;
}

.introDescription6 {
  font-size: 24px;
  margin-top: -3px;
}

.introDescription6 a {
  color: #459afa;
  font-size: 20px;
  margin-left: 5px;
  text-shadow: none;
  text-decoration-thickness: 3px;
}

.introDescription6 a:hover {
  color: #ff0000;
}

.tracks {
  list-style: none;
  padding: 0;
  outline: #ffffff 4px ridge;
  z-index: 30000;
  mix-blend-mode: lighten;
}

.tracks li {
  padding: 10px;
  margin-bottom: 5px;
  background: rgba(26, 69, 123, 0.88);
  transition: all 0.4s ease-in-out;
  display: flex;
  align-items: center;
}

.tracks li:hover {
  background: rgba(255, 255, 255, 0.8);
  transition: all 0.4s ease-in-out;
}

.tracks li.active {
  background: rgba(222, 13, 37, 0.8);
  transition: all 0.4s ease-in-out;
}

.track-icon {
  width: 18px;
  display: inline-block;
  margin-right: 10px;
  color: #00ff51;
  font-weight: bold;
}

/* CRT effect */
.crt-scanlines::before {
  content: " ";
  display: block;
  position: fixed;
  inset: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
    linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.06),
      rgba(0, 255, 0, 0.02),
      rgba(0, 0, 255, 0.06)
    );
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

.crt-flicker::after {
  content: " ";
  display: block;
  position: fixed;
  inset: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  /* animation: flicker 0.15s infinite; */
}

@keyframes flicker {
  0% {
    opacity: 0.27861;
  }
  5% {
    opacity: 0.34769;
  }
  10% {
    opacity: 0.23604;
  }
  15% {
    opacity: 0.90626;
  }
  20% {
    opacity: 0.18128;
  }
  25% {
    opacity: 0.83891;
  }
  30% {
    opacity: 0.65583;
  }
  35% {
    opacity: 0.67807;
  }
  40% {
    opacity: 0.26559;
  }
  45% {
    opacity: 0.84693;
  }
  50% {
    opacity: 0.96019;
  }
  55% {
    opacity: 0.08594;
  }
  60% {
    opacity: 0.20313;
  }
  65% {
    opacity: 0.71988;
  }
  70% {
    opacity: 0.53455;
  }
  75% {
    opacity: 0.37288;
  }
  80% {
    opacity: 0.71428;
  }
  85% {
    opacity: 0.70419;
  }
  90% {
    opacity: 0.7003;
  }
  95% {
    opacity: 0.36108;
  }
  100% {
    opacity: 0.24387;
  }
}

.crt-colorsep {
  animation: textShadow 8s infinite;
}

@keyframes textShadow {
  0% {
    text-shadow: 0.439px 0 1px rgba(0, 30, 255, 0.3),
      -0.439px 0 1px rgba(255, 0, 80, 0.1), 0 0 3px;
  }
  12.5% {
    text-shadow: 2.7929px 0 1px rgba(0, 30, 255, 0.3),
      -2.7929px 0 1px rgba(255, 0, 80, 0.1), 0 0 3px;
  }
  25% {
    text-shadow: 0.0296px 0 1px rgba(0, 30, 255, 0.3),
      -0.0296px 0 1px rgba(255, 0, 80, 0.1), 0 0 3px;
  }
  37.5% {
    text-shadow: 0.4022px 0 1px rgba(0, 30, 255, 0.3),
      -0.4022px 0 1px rgba(255, 0, 80, 0.1), 0 0 3px;
  }
  50% {
    text-shadow: 3.4794px 0 1px rgba(0, 30, 255, 0.3),
      -3.4794px 0 1px rgba(255, 0, 80, 0.1), 0 0 3px;
  }
  62.5% {
    text-shadow: 1.6126px 0 1px rgba(0, 30, 255, 0.3),
      -1.6126px 0 1px rgba(255, 0, 80, 0.1), 0 0 3px;
  }
  75% {
    text-shadow: 0.7016px 0 1px rgba(0, 30, 255, 0.3),
      -0.7016px 0 1px rgba(255, 0, 80, 0.1), 0 0 3px;
  }
  100% {
    text-shadow: 3.8969px 0 1px rgba(0, 30, 255, 0.3),
      -3.8969px 0 1px rgba(255, 0, 80, 0.1), 0 0 3px;
  }
}

.playlist-title-puter {
  display: flex;
  gap: 20px;
  flex-direction: row-reverse;
  justify-content: flex-end;
  letter-spacing: 3px;
  color: #00ff00;
}

.puter {
  filter: brightness(0) saturate(100%) invert(62%) sepia(33%) saturate(7493%)
    hue-rotate(87deg) brightness(120%) contrast(124%)
    drop-shadow(0 0 6px #05ba05) drop-shadow(0 0 14px #02ae02);
  animation: floating 3s linear infinite alternate;
  z-index: 30000;
}

@keyframes floating {
  0%,
  100% {
    transform: translate(2px, 3px);
  }
  50% {
    transform: translate(3px, -4px);
  }
}

.power-switch {
  position: fixed;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 12000;
  cursor: pointer;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-tap-highlight-color: transparent;
  transition: transform 120ms ease, filter 120ms ease;
  user-select: none;
  outline: none;
  box-shadow: -3px 48px 200px 73px rgba(255, 0, 0, 0.75);
  transition: all 0.5s ease-in-out;
}

.power-switch:hover {
  box-shadow: -3px 48px 200px 73px rgb(0, 237, 194);
  transition: all 0.5s ease-in-out;
}

.power-switch:active,
.power-switch:focus {
  transform: translateX(-50%) translateY(2px) scale(0.99);
}
.power-switch.disabled {
  opacity: 0.6;
  pointer-events: none;
}
.power-switch-img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 6px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.6),
    inset 0 2px 6px rgba(255, 255, 255, 0.05);
}

@media (width > 1920) {
  .right {
    width: 80vw;
  }
}
